h1 {

    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-style: italic;
    text-decoration: underline;

}
p {
    text-align: center;
    font-size: 25px;
}


#midle{

    
    text-align: center;
    
    
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0980ED;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button:hover {background-color: #FA3A2A}

.button:active {
  background-color: #FA3A2A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

#ChNiveau {

    width: 500px;
    height: 100px;
    padding-top: 10px; /*permet le centrage vertical*/
    text-align: center;
    color: #000;
    background: #444;
    font-family: Arial,sans-serif;
    font-size: 1.6em;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 4px;
    text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);

}

#Inst {
    width: 500px;
    height: 100px;
    padding-top: 10px; /*permet le centrage vertical*/
    text-align: center;
    color: #000;
    background: #444;
    font-family: Arial,sans-serif;
    font-size: 1.6em;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 4px;
    text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);

}

#Pres {
    width: 500px;
    height: 100px;
    padding-top: 10px; /*permet le centrage vertical*/
    text-align: center;
    color: #000;
    background: #444;
    font-family: Arial,sans-serif;
    font-size: 1.6em;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 4px;
    text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);

}
